.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
    letter-spacing: 0.02em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);            
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;    
}
.logo {
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.logo-part {
    color: #2E2F42;
}
.link {
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.link:hover, .link:focus {
    color: #404BBF;
}
.contacts {
    font-style: normal;    
}
.contacts-link {
    color: #434455;
    letter-spacing: 0.02em;
}
.contacts-link:hover, .contacts-link:focus {
    color: #404BBF;
}
.section-hero {
    background-color: #2E2F42;
}
.title-hero {
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;
    color: white;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em
}
.button-hero {
    background-color: #4D5AE5;
    color: white;    
    font-weight: 500;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}
.button-hero:hover, .button-hero:focus {
    background-color: #404BBF;
}

.title-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

}
.text-section {
    color: #434455;
    letter-spacing: 0.02em;
}
.section-team {
    background-color: #F4F4FD;    
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    color: #2E2F42;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.cards {
    background-color: white;    
}
.footer {
    background-color: #2E2F42;
}
.footer-advice {
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.logo-part-footer {
    color: #F4F4FD;        
}


